# Build artifacts
build/

mkosi.rootpw

# mkosi cache and workspace
mkosi.cache/*
mkosi.builddir/*
mkosi.output/*
mkosi.packages/*
.mkosi-*

# Logs
*.log

# Temporary files
*.tmp
*~
.*.swp

# OS-specific
.DS_Store
Thumbs.db
